html, body, .wrapper {
	background-color: #777;
	height: 100%;
}

.container {
	height: inherit;
}

#content {
	background-color: #fff;
	box-shadow: -3px 3px 6px #333;
		-moz-box-shadow: -3px 3px 6px #333;
		-webkit-box-shadow: -3px 3px 6px #333;
	min-height: 50%;
	padding-left: 0;
	padding-right: 10px;
}

div.inside {
	height: 100%;
	width: 100%;
}

#top-bar {
	background-color: #000;
	box-shadow: 0 0 6px #000;
		-moz-box-shadow: 0 0 6px #000;
		-webkit-box-shadow: 0 0 6px #000;
	color: #fff !important;
	height: 2em;
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	z-index: 1000;
}

#top-bar a {
	color: #fff;
}

#top-bar a:hover {
	color: #ccc;
}

#top-bar nav {
	width: 150px;
}

#top-bar nav.user {
	position: absolute;
		right: 0;
}

#top-bar ul {
	margin: 0;
	padding: 0;
}

#top-bar nav li {
	height: 100%;
	font-size: 1em;
	list-style: none;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 100;
}
#top-bar nav li a {
	display: inline-block;
	height: 100%;
	padding: 5px;
	width: 100%;
}

#top-bar nav > ul > li:hover > a {
	box-shadow: 0 0 3px #000;
		-moz-box-shadow: 0 0 3px #000;
		-webkit-box-shadow: 0 0 3px #000;
}

#top-bar nav li:hover > ul {
	box-shadow: 0 0 3px #000;
		-moz-box-shadow: 0 0 3px #000;
		-webkit-box-shadow: 0 0 3px #000;
}

#top-bar nav li > ul {
	background-color: #555;
	display: none;
	width: 100%;
	z-index: 0;
}

#top-bar nav li:hover > ul  {
	display: block;
}

#content .inside {
}

#content nav.top {
	margin-top: 2em;
}

#content section {
	padding-right: 20px;
}

#content section .add-new {
	height: 31px;
	padding-top: 10px;
}

#content table {
	width: 100%;
}

#content th {
	text-align: left;
}

#content tbody tr, #content thead tr {
	line-height: 2em;
	border-bottom: 1px solid #ddd;
}

#content tbody tr:last-child {
	border-bottom: 0;
}

#content tr .actions {
	font-size: .75em;
	line-height: 1em;
	margin: -.25em 0 .25em 0;
	padding-left: .25em;
	visibility: hidden;
}

#content tr:hover .actions {
	visibility: visible;
}

#content tr .actions a {
	color: #777;
}

#content tr .actions a:hover {
	color: #000;
}

.button.mini {
	padding: 2px;
}

#left {
	color: #eee;
	min-height: 25%;
}

#left .inside {
	padding-top: 2em;
}

#left a {
	color: #ddd;
	padding-left: .5em;
	text-decoration: none;
}

#left a:hover {
	color: #aaa;
}

#left header {
	font-weight: 900;
	text-align: left;
}

#left nav.main li {
	border-bottom: 1px solid #666;
	margin: 0;
	padding: .4em 0;
	width: 85%;
}

#left nav.main li:last-child {
	border-bottom: none;
}

#left nav.mobile {
	display: none;
}

#footer, #footer a {
	color: #bbb;
}

#footer {
	position: relative;
}

#footer .inside {
	padding-top: 1.5em;
	padding-bottom: 3em;
}

@media only screen and (max-width:767px) { 
	#left, #left .inside {
		min-height: auto;
		position: relative;
	}

	#left header {
		text-align: center;
	}

	#left nav.mobile {
		display: block;
		padding-top: 1em;
	}

	#left nav.mobile select {
		width: 100%;
	}
}

@media only screen and (min-width:480px) {
	#content .inside section .add-new, #content .inside section .add-new .button {
		
	}
}